{{ define "main" }}
<div>
  <h1 class="p-4 dark:bg-gray-800 dark:text-gray-300">{{ .Title }}</h1>
</div>

<div class="h-auto grid grid-cols-9 dark:bg-gray-800 dark:text-gray-300">
  <div
    class="
      sticky
      top-10
      rounded-md
      max-h-60
      overflow-auto
      overscroll-contain
      shadow-md
      dark:bg-gray-700
      m-4
      col-start-1 col-span-2
      p-4
      scrollbar scrollbar-track-gray-900 scrollbar-thumb-gray-600
    "
  >
    <h4><strong> Index </strong></h4>
    {{- .TableOfContents -}}
  </div>
  <div class="w-text-justify auto col-start-3 col-span-5 p-4">
    {{ .Content }}
  </div>
</div>
{{ end }}
